.landing-page{
    height: 95vh;
    box-sizing: border-box;
    display: flex;
}
.landing-page-text{
    height: auto;
    width: 40vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10rem !important;
}
.landing-img-caption{
    text-transform: capitalize;
    width: 100%;
    text-align: justify;
    margin: 1rem !important;
}
.landing-page-caption-heading{
    font-weight: bold !important;
    margin-left: 0 !important;
}
.landing-page-img{
    height: 60vh;
    width: 60vw;
    align-self: center;
}
.link-btn{
    text-decoration: none;
}
.get-started-btn{
    width: 300px;
    font-size: 1.1rem !important;
    align-self: flex-start;
    margin-top: 1rem !important;
}
.img-wrap{
    width: 50vw;
    height: 90%;
    background: url('../../assets/images/landing-page.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
}



      