.header{
    box-sizing: border-box;
    max-height: 5vh;
    justify-content: center;
}
.main-heading{
    display: flex;
    align-items: center;
}
.header-logo{
    height: 3vh;
    box-sizing: border-box;
}
.link-btn{
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
}