.login-panel{
    width: 100% !important;
    height: 95vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrap{
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem;
}
.user-icon{
    align-self: center;
}
.form-heading{
    text-align: center;
    text-transform: capitalize;
}
.form-section{
    margin: .5rem auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    min-width: 300px;
}
.row{
    margin: .3rem auto !important;
    width: 100%;
    display: flex;
}
.input-text{
    width: 100%;
    margin: 0 .3rem !important;
}
.form-btn{
    width: 100% !important;
    text-transform: capitalize;
}
.helper-text{
    padding: 0 .3rem;
}
.link{
    color: #0e519d;
    margin: 0 .3rem;
    font-weight: bold;
    background: transparent;
    border: none;
}
.link:hover{
    cursor: pointer;
}

